/*
 PRIMARY STYLES
================ */

/* Base
========= */

html {
    font-size: 16px;
    background-color: #f0f0f0
}

body {
    padding: 0;
    margin: 0;
}

/* Layout
=========== */

.header-container {
    background: #1d8ef8e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 800px 40px 800px;
    border: 3px;
    border-radius: 40px;
    border-style: solid;
    border-color: #e20000
}

.header-content {
    color: #ffffff;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.body-container {

}

.body-content {
    color: #000000;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 24px;
    margin: 0 auto;
}

.popular-container {
    background: #ffffff;
    height: auto;
    display: flex;
    margin: 20px 600px 20px 600px;
    justify-content: center;
    border: 1px, #000000;
    border-style: solid;
    border-radius: 4px;
}

.popular-content {
    color: #000000;
    width: 100%;
    max-width: 1700px;
    display: inline-block;
    column-count: 10;
    column-gap: 10px;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.trending-container {
    background: #ffffff;
    height: auto;
    display: flex;
    margin: 20px 600px 20px 600px;
    justify-content: center;
    border: 1px, #000000;
    border-style: solid;
    border-radius: 4px;
}

.trending-content {
    color: #000000;
    width: 100%;
    max-width: 1700px;
    display: inline-block;
    column-count: 10;
    column-gap: 10px;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.footer-container {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-content {
    font-size: 13px;
    color: #F1F1F1;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

/* Links and Link Buttons
============================ */
a {
    text-decoration: none;
}

a:visited {
    
}

a:focus {
    
}
a:hover, a:active {

}

.main-nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.body-container .btn, .body-container .btn:visited  {
    width: 100%;
    max-width: 260px;
    background: chartreuse;
    color: #F1F1F1;
    border: 2px solid chartreuse;
    border-radius: 12px;
    padding: 12px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 12px auto 24px;
    display: block;
}

.body-content .btn, .body-content .btn:visited  {
    width: 100%;
    max-width: 260px;
    background: #f08527;
    color: #1b1b27;
    border: 2px solid #f08527;
    border-radius: 12px;
    padding: 12px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 12px auto 24px;
    display: block;
}

.body-content .btn:focus {
    background: #333333;
    color: #F1F1F1;
    border: 2px solid #333333;
}
.body-content .btn:hover, .body-content .btn:active {
    background: #74b44a;
    color: #F1F1F1;
    border: 2px solid #666666;
}

.btn, .btn:visited  {
    width: 100%;
    max-width: 180px;
    background: #f08527;
    color: #1b1b27;
    border: 2px solid #f08527;
    border-radius: 12px;
    padding: 12px 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0 24px;
    display: block;
}

.btn:hover, .btn:focus, .btn:active {
    background: #000000;
    color: #f8f8f8;
    border: 2px solid #000000;
}

/* Typography
================= */

.main-logo span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
    margin: 0 0 0 0;
}


.body-content h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    color: #000000;
    line-height: 1;
    margin: 0 0 0 0;
    text-transform: uppercase;
}

.body-content p {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
}

section h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

section h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

section p {
    font-family: 'Cabin', sans-serif;
    line-height: 1.5;
}


/* Lists and Navigation
========================= */

.main-nav {
    display: none;
}

.main-nav .search-container {
    float: right;
}
  
.main-nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.mobile-nav span a {
    font-size: 48px;
    padding: 8px;
    color: #ffffff;
}

.mobile-nav span a:hover {
    color: #74b44a;
}

footer {
    text-align: center;
}

/* Images and Videos
===================== */


/* Forms
=========== */


/* Tables
=========== */




/* 	


 MEDIA QUERIES
=============== */

@media only screen and (min-width: 320px) {



}

@media only screen and (min-width: 480px) {



}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
}

@media only screen and (min-width: 768px) {
	
    .main-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    ul#navigation {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    
    ul#navigation li a {
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        padding: 6px 12px;
        border: solid 2px transparent;
        text-transform: uppercase;
    }
    
    ul#navigation li a:hover {
        color: #000000;
        background-color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 6px 12px;
        border: solid 2px #000000;
        border-radius: 20px;
    }

}